.etiqueta--roja
  padding: 0 1rem
  background-color: $color-acento-contenido
  font-size: 18pt
  color: white

.etiqueta--verde
  padding: 0 1rem
  line-height: 1.6
  background-color: #228053
  font-size: 18pt
  color: white  

.etiqueta--green
  color: #228053

.crd_A
  padding: 2rem
  &--azul
    background-color: #DBEEFF
  &--gris
    background-color: #F2F2F2  
  &--brd
    border: 3px solid #F2F2F2  
    height: 100%

.brd-r1
  border-radius: 15px 

.cajon--gris 
  background-color: $color-secundario
  &::before
    background-color: #62CCA2

.tarjeta--roja-1
  background-color: #CE1E2F
  p, .h3
    color: white

.hg--full
  align-self: normal

.hr--blank
  width: 100%
  height: 3px
  padding: 1.5rem 0

.z-index
  position: relative  
  z-index: 99
  


