.jumbotron 
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFD494 
	border-radius: .3rem
.jumbotron-1
	padding: 1rem 1rem 
	margin-bottom: 2rem 
	background-color: #F2F2F2
	border-radius: .3rem
.jumbotron-2
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFFFFF
	border-radius: .3rem
.jumbotron-3
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #A2CC75
	border-radius: .3rem
.jumbotron-4
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #DBEEFF
	border-radius: .3rem
.jumbotron-5
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFF8BC
	border-radius: .5rem
.jumbotron-6
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFFFFF
	border-radius: .5rem
.jumbotron-7
	margin-bottom: 2rem 
	background-color: #FFD494
	border-radius: .5rem
.jumbotron-8
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #FFEE58
	border-radius: .1rem
.div-con-fondo 
	background-image: src="@/assets/curso/images/pages/ilustraciones/img_6.svg"
.contenedor 
	position: relative 
	display: inline-block 
	text-align: center 
.texto-encima 
	position: absolute 
	top: 1700px 
	left: 10px 
.centrado 
	position: absolute 
	top: 58% 
	left: 41% 
	transform: translate(-50%, -50%)
.div-con-fondo -1
	background-image: src="@/assets/curso/images/pages/ilustraciones/9.png"
.contenedor-1 
	position: relative 
	display: inline-block 
	text-align: center 
.texto-encima-1 
	position: absolute 
	top: 155px 
	left: 35px 
.centrado-1
	position: absolute
	top: 95%
	left: 60% 
	transform: translate(-50%, -50%)
.centrado-2
	position: absolute
	top: 95%
	left: 60% 
	right: 1%
	transform: translate(-50%, -50%)
.centrado-3
	position: absolute 
	top: 58% 
	left: 41% 
	transform: translate(-50%, -50%)
.img-responsive 
	max-width: 100% 
	height: auto 
.img-float-1
	float: left 
.img-float-1 
	float: center
.card_white
	background-color: #FFFFFF
	color: blue
    border-radius: .5rem
.img-a 
	display: block 
	margin: auto
.i-general
	display: flex
	margin: 5rem auto
	width: 100%
	flex-wrap: wrap
	background: #FFF8BC
	float: none
	justify-content: center
.div-gradient 
	width: 250px 
	height: 270px 
	min-width: 40px 
	background: white
	border-radius: 20px 20px 2px 20px 
	position: relative 
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: none
.c-card 
	display: block 
	margin: auto 
	align-items: center 
	padding: 1rem
	width: 90%
.i-general-1
	display: flex
	margin: 5rem auto
	width: 100%
	flex-wrap: wrap
	background: white
	float: none
	justify-content: center
.div-gradient-1
	width: 310px 
	height: 430px 
	min-width: 40px 
	background: #F3F9FF
	border-radius: 20px 20px 2px 20px 
	position: relative 
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	align-items: center;
	float: none
.c-card-1
	display: block
	align-items: top 
	padding: 1rem
	width: 90%
	margin: 1rem auto
.div-gradient-2
	width: 490px 
	height: 160px 
	min-width: 40px 
	background: #F3F9FF
	border-radius: 20px 20px 2px 20px 
	position: relative 
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: none
	margin: 20px 30px 20px 0px
.c-card-2
	display: block 
	margin: auto 
	align-items: center 
	padding: 15px
	width: 90%
.i-general-5
	display: flex
	margin: 2rem auto
	width: 100%
	flex-wrap: wrap
	background: white
	float: none
	justify-content: center
.div-gradient-5
	width: 700px 
	height: 150px 
	min-width: 50px 
	background: white
	border-radius: 20px 20px 20px 20px 
	position: relative 
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: none
	margin: 20px 30px 20px 0px
.c-card-5
	display: block 
	margin: auto 
	align-items: center 
	padding: 1px
	width: 90%
.div-gradient-12
	width: 630px 
	height: 160px 
	min-width: 50px 
	background: white
	border-radius: 20px 20px 20px 20px 
	position: relative 
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: none
	margin: 5px 10px 5px 0px
.c-card-12
	display: flex
	margin: auto 
	align-items: center 
	padding: -5px
	width: 90%
.div-gradient-13
	width: 1000px 
	height: 160px 
	min-width: 50px 
	background: white
	border-radius: 20px 20px 20px 20px 
	position: relative 
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: none
	margin: 5px 10px 5px 0px
.c-card-13
	display: flex
	margin: auto 
	align-items: center 
	padding: -5px
	width: 90%
.div-gradient-11
	width: 600px 
	height: 160px 
	min-width: 50px 
	background: white
	border-radius: 20px 20px 20px 20px 
	position: relative 
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: none
	margin: 20px 30px 20px 0px
.c-card-11
	display: block 
	margin: auto 
	align-items: center 
	padding: -5px
	width: 90%
.h1i
	font-family: 'Roboto', sans-serif
	color: #00223D
	font-size: 17px
	display: block
	margin: auto
	text-align: left
	line-height: 80%
.h2i 
	font-family: 'Roboto', sans-serif
	color: #00223D
	font-size: 15px
	display: block
	margin: auto
	text-align: left
	line-height: 80%
.parrafos
	color: #00223D
	font-family: 'Roboto', sans-serif
	font-size: 14px
.img-float 
	float: left
	margin: -2px 44px -30px 5px
.img-float-right 
	float: right 
//BOTONES CAROUSEL
.carousel-buttons

    padding: 1rem
.carousel-inner
    background-color: #FFFFFF
    border-radius: 1rem
    padding: 3rem
.carousel-control-prev, .carousel-control-next,
    margin: 0 1rem
    width: 39px
    height: 39px
    border-radius: 39px
    background-color: white !important
    border: #3A61F0 solid 2px 
    padding: 1.5rem
    top: calc( 50% - 60px  )
    transition: 0.5s
    
.carousel-control-prev:hover, .carousel-control-next:hover
    transform: scale(1.2)
.carousel-control-next-icon, .carousel-control-prev-icon
    color: blue !important
    filter: invert(100%) 
    width: 20px
    margin: auto
    transform: translate(-50%, -50%);
.c-card-3
	display: block 
	align-items: center 
    margin-top: 5rem
	padding: 2rem
.i-general-carrusel
	display: flex
	margin: 5rem auto
	width: 100%
	flex-wrap: wrap
	background: white
	float: none
	justify-content: center
.div-carrusel
	width: 230px 
	height: 80px 
	min-width: 40px 
	background: white
	border-radius: 20px 20px 2px 20px 
	position: absolute 
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: none
.c-card-carrusel
	position: absolute
	margin: auto 
	align-items: center 
	padding: 1rem
	width: 90%
.i-general-tarjeta
	display: flex
	margin: 5rem auto
	width: 200%
	height: 180px 
	flex-wrap: wrap
	background-image: src="@/assets/curso/images/pages/ilustraciones/3-1.png"
	float: none
	justify-content: left
.div-tarjeta
	width: 1000px 
	height: 150px 
	min-width: 40px 
	background-color: #FFF1DB
	border-radius: 20px 20px 2px 20px 
	position: absolute
	display: flex
	transition: 1s 
	margin: 1rem 1rem
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: none
.c-card-tarjeta
	position: absolute
	margin-left: -180px
	margin-top: 2rem 
	align-items: left
	padding: 1rem
	width: 75%
.img-rp
    width: 20%
    display: inline-block
    margin: 1rem
.p2
	margin: auto 1rem
	margin-left: 2rem
	width: 100%
	height: fit-content
	display: block
.p1
	margin: auto 1rem
	margin-left: 1rem
	width: 100%
	height: fit-content
.text-color
	color: black
.tarjeta-imagen
	background: url(../assets/curso/images/pages/ilustraciones/img_6.svg) no-repeat center;
	background-size: cover
	width: 30%
	min-height: 2rem
	display: flex
	margin: 2rem
.tarjet-text
	background: rgba(2555, 241, 219, 0.5);
	width: 90%
	height: fit-content
	margin: auto 2rem
	border-radius: 2rem
	align-items: center
	display: block
	align-content: center
	justify-content: center
.p-tarjeta-imagen
	margin: 1rem
	padding: 1rem
	width: 5%
	justify-content: left
.p-tarjeta-imagen-1
	margin: 1rem
	padding: 1rem
	width: 5%
	justify-content: center
.banner-principal
  .tarjeta
    background-color: #FFB74D !important
  p
    color: #111E61 !important
  h1
    color: #111E61 !important
  img
    margin-bottom: 2rem
  .boton
    background-color: #FFEE58
    span
      color: #111E61 !important
.banner-interno
  h1
    color: #111E61 !important 
.resultados
    display: flex
    height: fit-content
    p
        display: inline-block
        margin: auto 1rem
    .titulo-resultados
      width: 14rem
.text-jumbotron-padding
	 padding: 1rem
.img-jumbotron-padding-1
	 padding: 4rem
	 background-size: cover
.img-jumbotron-padding
	 padding: 1rem
	 background-size: cover
.text-color_1
		color: white
.text-color_2
	  color: #62CCA2
.number
	padding: 3px
	margin: 10px 
	float: left 
	width: 250px
.hr 
	display: block 
	margin-left: auto 
	margin-right: auto 
	border-style: inset 
	border-width: 0.1px 
.hr-1
	border: 0 	
	border-top: 1px solid #000
	border-bottom: 1px solid #000
	height: 0 

